<h2>Create a new room</h2>

<form action="/room/create" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="description" placeholder="description">
  <input type="text" name="imageUrl" placeholder="imageUrl">
  <button type="submit">Create a room</button>
</form>